*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Your Font Name',sans-serif;
    background: #f4f4f4;
    color: #333;
}
header{
    background-color: #1a1a2e;
    color:white;
    padding: 30px 50px;
    display:flex;
    justify-content: space-between;
    text-align: center;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 30px;
    padding: 20px 20px;
    font-size: 20px;
}
nav a :hover{
    background-color: #e94560;
    transition: background-color 0.3s ease;
}
section{
    padding: 30px;
    margin: 20px;
    color: #404063;
}
section:nth-child(even){
    background-color: #ffff;
    color: rgb(21, 10, 10);
}


h2 {
    font-size: 30px;
    color: #404063;
    margin-bottom: 18px;
}
footer{
    background-color: #1a1a2e;
    color: rgb(223, 210, 210);
    text-align: center;
    padding: 20px;
}
.about-content {
  max-width: 700px;
}

.about-text p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 16px;
}

.btn {
  display: inline-block;
  background-color: #e94560;
  color: white;
  padding: 12px 28px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #c73652;
}